html, body {
    height: 100%;
    margin: 0;
}


body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#trashTalkMessage {
    color: white;
    font-size: 20px;
    padding: 20px;
}
